

body {
  font-family: "EB Garamond", Arial, serif;
}

table {
  margin: 10px auto;
  border: solid black;
  border-collapse: collapse;
}

caption {
  padding: 10px;
  caption-side: bottom;
  color: forestgreen;
  font-size: 0.85rem;
}


tr:first-child th,
.highlight {
    background-color: orangered;
    color: var(--forelight);
}

.name {
	font-weight: bold;
}

th,
td {
  padding: 7px 15px;
  border: 1px solid var(--borderlight);
}

th {
  background-color: orange;
  font-size: larger;
  text-align: center;

}

td {
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: rgb(230, 230, 230);
}
